# The Blue Alliance API Key
# Get your key at: https://www.thebluealliance.com/account
VITE_TBA_API_KEY=HmntRPgiODCNhyfLjFgudjUd45525X3OjVZqMrmIBQsHhmoK4Jvbqsu0FTto6VHu

# Nexus Stats API Key
# Get your key at: https://frc.nexus/
VITE_NEXUS_API_KEY=_QguwvEkh6wTGwDwQwy6D9snHxg
